@charset "UTF-8";

/** {
  margin: 0px;
  padding: 0px;
}
*/
body {
  height: auto;
  width: auto;
  background-color: hsla(211, 57%, 60%, 0.384);
}
section {
  margin: auto;
}
header {
  background-color: #073f7c;
  margin: auto;
  margin: 20px 20px 10px 20px;
}
header > img {
  width: auto;
}

main {
  display: block;
  margin: auto;
  margin-left: 16%;
  margin-right: 10%;
  padding: 100px 0px 120px 0px;
}
main > a {
  padding: 10px;
}

footer {
  padding: 10px 100px 30px 100px;
  margin: 20px 20px 0px 20px;
}
footer > img {
  display: block;
  margin: auto;
  width: 20%;
}
footer > div {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  text-align: right;
  margin-top: -110px;
  margin-right: 5%;
  padding: 2px;
  width: 100%;
}

.logosesi {
  display: block;
  max-width: 200px;
  width: 50%;
}
